// Colors

:where(html) {
  --blue-h: 240;
  --blue-s: 45%;
  --blue-l: 50%;
  --blue-hsl: 240, 45%, 50%;
  --blue: hsl(var(--blue-hsl));   
  --red-h: 0;
  --red-s: 100%;
  --red-l: 35%;
  --red-hsl: 0, 100%, 35%;
  --red: hsl(var(--red-hsl));    
  --green-h: 120;
  --green-s: 50%;
  --green-l: 30%;
  --green-hsl: 120, 50%, 30%;
  --green: hsl(var(--green-hsl));    
  --yellow-h: 60;
  --yellow-s: 100%;
  --yellow-l: 57%;
  --yellow-hsl: 60, 100%, 57%;
  --yellow: hsl(var(--yellow-hsl));
}
