// Mono colors

:where(html) {
  --h: 0;
  --s: 0%;
  --l: 0%;  
  --black-hsl: 0, 0%, 0%;
  --white-hsl: 0, 0%, 100%;
  --gray-1: hsl(0, 0%, 99%);
  --gray-2: hsl(0, 0%, 97%);
  --gray-3: hsl(0, 0%, 90%);
  --gray-4: hsl(0, 0%, 85%);
  --gray-5: hsl(0, 0%, 73%);
  --gray-6: hsl(0, 0%, 57%);
  --gray-7: hsl(0, 0%, 45%);
  --gray-8: hsl(0, 0%, 36%);
  --gray-9: hsl(0, 0%, 25%);
  --gray-10: hsl(0, 0%, 15%);
  --gray-11: hsl(0, 0%, 11%);
  --gray-12: hsl(0, 0%, 3%);
}